:root,
[data-scheme="black"] {
  --background: oklch(0.125 0 0);
  --foreground: oklch(0.925 0 0);
  --foreground-muted: oklch(0.58 0 0);

  --background-accent: oklch(0.58 0.18 41.13);
  --foreground-accent: oklch(1 0 0);

  --background-primary: oklch(0.925 0 0);
  --foreground-primary: oklch(0.125 0 0);

  --background-secondary: oklch(0.24 0 0);
  --foreground-secondary: oklch(0.975 0 0);

  --background-danger: oklch(0.55 0.2 30);
  --foreground-danger: oklch(0.985 0 0);

  --background-danger-soft: var(--background-secondary);
  --foreground-danger-soft: oklch(0.75 0.2 30);

  --background-inactive: oklab(0.24 0 0);
  --foreground-inactive: oklch(0.32 0 0);

  --subtle: oklch(0.2 0 0);
  --border: oklch(0.32 0 0);
  --decoration: oklch(0.24 0 0);
  --ring: oklch(0.48 0 0);

  color-scheme: dark;
}
