@layer components {
  .popover-anchor {
    @apply inline-flex;
  }

  .popover-trigger {
  }

  .popover-positioner {
  }

  .popover-content {
    @apply pointer-events-auto relative flex w-full max-w-sm flex-col gap-4 rounded-md border border-border bg-background p-4 outline-none;

    transform-origin: var(--transform-origin);
    z-index: calc(var(--z-index-overlay) + var(--layer-index, 0));

    @variant data-[state=open] {
      animation:
        zoom-in var(--duration-snappy) var(--ease-snappy-in),
        fade-in var(--duration-snappy) var(--ease-snappy-in);
    }

    @variant data-[state=closed] {
      animation:
        zoom-out var(--duration-snappy) var(--ease-snappy-out),
        fade-out var(--duration-snappy) var(--ease-snappy-out);
    }
  }

  .popover-header {
    @apply flex flex-col gap-1;
  }

  .popover-title {
    @apply flex items-center gap-2;

    @variant icon {
      @apply size-5 text-foreground-muted;
    }
  }

  .popover-description {
    @apply text-sm text-foreground-muted;
  }

  .popover-body {
    @apply flex-1 text-sm;
    @apply scrollbar-thin scrollbar-thumb-border scrollbar-track-transparent;
  }

  .popover-footer {
    @apply flex justify-end gap-2;
  }

  .popover-close-trigger {
  }

  .popover-arrow {
    --arrow-size: --spacing(2.5);
    --arrow-background: var(--color-background);
    --arrow-shadow-color: var(--color-border);
  }

  .popover-arrow-tip {
    border-top: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
  }
}
