@layer components {
  .slider {
    @variant data-[orientation=horizontal] {
      @apply w-full;
    }

    @variant data-[orientation=vertical] {
      @apply h-full;
    }
  }

  .slider-control {
    @apply relative flex items-center justify-center;

    @variant data-[orientation=horizontal] {
      @apply h-4 w-full;
    }

    @variant data-[orientation=vertical] {
      @apply h-full w-4;
    }
  }

  .slider-track {
    @apply relative bg-background-secondary;

    @variant data-[orientation=horizontal] {
      @apply h-1 w-full;
    }

    @variant data-[orientation=vertical] {
      @apply h-full w-1;
    }

    @variant data-disabled {
      @apply bg-background-inactive;
    }
  }

  .slider-range {
    @apply absolute;

    @variant data-[orientation=horizontal] {
      @apply h-full;
    }

    @variant data-[orientation=vertical] {
      @apply w-full;
    }
  }

  .slider-thumb {
    @apply relative z-2 flex h-4 w-4 items-center justify-center rounded-xs border bg-background;
    @apply transition-[border-color] duration-150 ease-out;

    &::after {
      content: "";
      position: absolute;
      inset: 2px;
      background-color: var(--color-foreground);
    }

    @variant focus-visible {
      @apply focus-visible;
    }
  }

  .slider-marker-group {
    @apply absolute! text-xs;

    @variant data-[orientation=horizontal] {
      @apply inset-x-0 inset-be-0;
    }

    @variant data-[orientation=vertical] {
      @apply inset-y-0 inset-s-4;
    }
  }

  .slider-marker {
    @apply relative leading-none text-foreground-muted;

    @variant data-disabled {
      @apply text-foreground-inactive;
    }

    @variant data-[state=at-value] {
      @apply text-foreground;

      @variant data-disabled {
        @apply text-foreground-inactive;
      }
    }

    &::after {
      content: "";
      position: absolute;
      background-color: var(--color-background);
    }

    @variant data-[orientation=horizontal] {
      @apply pbs-1;

      &::after {
        width: 1px;
        height: --spacing(1);
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    @variant data-[orientation=vertical] {
      @apply ps-1;

      &::after {
        width: --spacing(1);
        height: 1px;
        top: 50%;
        left: -10px;
        transform: translateY(-50%);
      }
    }
  }

  .slider-dragging-indicator {
    @apply inline-flex items-center rounded-xs border border-border bg-background px-1 text-sm whitespace-nowrap;

    @variant data-[orientation=horizontal] {
      @apply -inset-be-7;
    }
    @variant data-[orientation=vertical] {
      @apply inset-s-5;
    }
  }

  .slider-label {
    @apply text-sm text-foreground-muted;

    @variant data-disabled {
      @apply text-foreground-inactive;
    }
  }

  .slider-value-text {
    @apply text-sm text-foreground;

    @variant data-disabled {
      @apply text-foreground-inactive;
    }
  }

  :where(.slider) {
    @apply slider--primary;
  }
}

@utility slider--primary {
  .slider-range {
    @apply bg-foreground;

    @variant data-disabled {
      @apply bg-background-inactive;
    }
  }

  .slider-thumb {
    @apply border-border;

    @variant data-disabled {
      @apply border-background-inactive;

      &::after {
        background-color: var(--color-background-inactive);
      }
    }

    @variant hover {
      @variant not-data-disabled {
        @apply border-foreground;
      }
    }

    @variant data-dragging {
      @apply border-foreground;
    }
  }
}

@utility slider--accent {
  .slider-range {
    @apply bg-background-accent;

    @variant data-disabled {
      @apply bg-background-inactive;
    }
  }

  .slider-thumb {
    @apply border-border;

    @variant data-disabled {
      @apply border-background-inactive;

      &::after {
        background-color: var(--color-background-inactive);
      }
    }

    @variant hover {
      @variant not-data-disabled {
        @apply border-foreground;
      }
    }

    @variant data-dragging {
      @apply border-foreground;
    }
  }
}
