@theme inline {
  --duration-switch: 60ms;
  --duration-snappy: 180ms;
  --duration-smooth: 240ms;
  --duration-extend: 360ms;

  --ease-switch-in: ease-out;
  --ease-switch-out: ease-in;

  --ease-snappy-in: cubic-bezier(0.168, 0.84, 0.44, 1);
  --ease-snappy-out: var(--ease-snappy-in);

  --ease-smooth-in: var(--ease-snappy-in);
  --ease-smooth-out: var(--ease-snappy-in);

  --ease-extend-in: cubic-bezier(0.36, 0.72, 0, 1);
  --ease-extend-out: var(--ease-extend-in);
}

@keyframes zoom-in {
  0% {
    transform: scale(0.94);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.94);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  0% {
    translate: 8px 0px;
  }
  100% {
    translate: 0px 0px;
  }
}

@keyframes slide-from-left {
  0% {
    translate: -8px 0px;
  }
  100% {
    translate: 0px 0px;
  }
}

@keyframes slide-from-bottom {
  0% {
    translate: 0px 8px;
  }
  100% {
    translate: 0px 0px;
  }
}

@keyframes slide-from-top {
  0% {
    translate: 0px -8px;
  }
  100% {
    translate: 0px 0px;
  }
}

@keyframes expand-height {
  0% {
    height: 0px;
  }
  100% {
    height: var(--height);
  }
}

@keyframes expand-width {
  0% {
    width: 0px;
  }
  100% {
    width: var(--width);
  }
}

@keyframes collapse-width {
  0% {
    width: var(--width);
  }
  100% {
    width: 0px;
  }
}

@keyframes collapse-height {
  0% {
    height: var(--height);
  }
  100% {
    height: 0px;
  }
}
