@theme inline {
  --duration-switch: 60ms;
  --duration-snappy: 180ms;
  --duration-smooth: 240ms;
  --duration-extend: 360ms;

  --ease-switch-in: ease-out;
  --ease-switch-out: ease-in;

  --ease-snappy-in: cubic-bezier(0.168, 0.84, 0.44, 1);
  --ease-snappy-out: var(--ease-snappy-in);

  --ease-smooth-in: var(--ease-snappy-in);
  --ease-smooth-out: var(--ease-snappy-in);

  --ease-extend-in: cubic-bezier(0.36, 0.72, 0, 1);
  --ease-extend-out: var(--ease-extend-in);
}

@keyframes zoom-in {
  0% {
    transform: scale(0.94);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.94);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blur-in {
  from {
    filter: blur(2px);
  }
  to {
    filter: blur(0);
  }
}

@keyframes blur-out {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(2px);
  }
}

@keyframes rotate-in {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotate-out {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes scale-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scale-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes flip-in {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes flip-out {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

@keyframes slide-from-right {
  0% {
    translate: var(--distance, 8px) 0px;
  }
  100% {
    translate: 0px 0px;
  }
}

@keyframes slide-to-right {
  0% {
    translate: 0px 0px;
  }
  100% {
    translate: var(--distance, 8px) 0px;
  }
}

@keyframes slide-from-left {
  0% {
    translate: calc(var(--distance, 8px) * -1) 0px;
  }
  100% {
    translate: 0px 0px;
  }
}

@keyframes slide-to-left {
  0% {
    translate: 0px 0px;
  }
  100% {
    translate: calc(var(--distance, 8px) * -1) 0px;
  }
}

@keyframes slide-from-bottom {
  0% {
    translate: 0px var(--distance, 8px);
  }
  100% {
    translate: 0px 0px;
  }
}

@keyframes slide-to-bottom {
  0% {
    translate: 0px 0px;
  }
  100% {
    translate: 0px var(--distance, 8px);
  }
}

@keyframes slide-from-top {
  0% {
    translate: 0px calc(var(--distance, 8px) * -1);
  }
  100% {
    translate: 0px 0px;
  }
}

@keyframes slide-to-top {
  0% {
    translate: 0px 0px;
  }
  100% {
    translate: 0px calc(var(--distance, 8px) * -1);
  }
}

@keyframes expand-height {
  0% {
    height: var(--collapsed-height, 0px);
  }
  100% {
    height: var(--height);
  }
}

@keyframes expand-width {
  0% {
    width: var(--collapsed-width, 0px);
  }
  100% {
    width: var(--width);
  }
}

@keyframes collapse-width {
  0% {
    width: var(--width);
  }
  100% {
    width: var(--collapsed-width, 0px);
  }
}

@keyframes collapse-height {
  0% {
    height: var(--height);
  }
  100% {
    height: var(--collapsed-height, 0px);
  }
}
